.wrapper {
	width: 600px;
	border: 1px solid black;
	margin: 10vh auto;
	text-align: center;
}

.wrapper button {
	text-align: center;
	width: 90%;
	height: 7vh;
	margin: 10px;
}

.wrapper input {
	text-align: start;
	width: 90%;
	height: 7vh;
	margin: 10px;
}
